<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.collect">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BIND_SCREENING_SERVICE"/>

    <application
        android:name=".CollectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--<activity android:name=".activity.TimerActivity"/>-->
        <!--<activity android:name=".activity.AnnotationsActivity"/>-->
        <!--<activity android:name=".activity.UpdateAppActivity"/>-->
        <!--<activity android:name=".activity.KuanjiejianActivity"/>-->
        <!--<activity android:name=".activity.ViewActivity"/>-->
        <!--<activity android:name=".activity.KeyBoradActivity"/>-->
        <!--<activity android:name=".activity.FileActivity"/>-->
        <!--<activity android:name=".activity.DaggerActivity"/>-->
        <!--<activity android:name=".activity.HttpActivity"/>-->
        <!--<activity android:name=".activity.RxjavaActivity"/>-->
        <activity android:name=".activity.CoordinatorActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <!--<activity android:name=".activity.Coordinator2Activity"/>-->
        <activity android:name=".activity.MyChartActivity"/>
        <activity android:name=".activity.PikerActivity"/>
        <activity android:name=".activity.RecyclerAnimatorActivity"/>
        <!--<activity android:name=".lottie.LottieActivity"/>-->
        <!--<activity android:name=".activity.JodaActivity"/>-->
        <!--<activity android:name=".activity.FlexBoxActivity"/>-->
        <!--<activity android:name=".service.ServiceActivity"/>-->
        <activity android:name=".test.Test1Activity"/>
        <activity android:name=".test.Test2Activity"/>
        <activity android:name=".test.Test3Activity"/>

        <!--<service android:name=".service.BackgroudService"></service>-->
        <service android:name=".service.InitializeService"></service>

        <!--<receiver android:name=".receiver.BroadCastList$BroadCastTest1">-->
            <!--<intent-filter android:priority="600">-->
                <!--&lt;!&ndash;<action android:name="broadcasttest"></action>&ndash;&gt;-->
                <!--<action android:name="android.intent.action.SCREEN_OFF"></action>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name=".receiver.BroadCastList$BroadCastTest2">-->
            <!--<intent-filter android:priority="200">-->
                <!--<action android:name="broadcasttest"></action>-->
                <!--<action android:name="android.intent.action.SCREEN_ON"></action>-->
                <!--<action android:name="android.intent.action.SCREEN_OFF"></action>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name=".receiver.BroadCastList$BroadCastTest3">-->
            <!--<intent-filter android:priority="300">-->
                <!--<action android:name="broadcasttest"></action>-->
                <!--<action android:name="android.intent.action.SCREEN_ON"></action>-->
                <!--<action android:name="android.intent.action.SCREEN_OFF"></action>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>